In [1]:
#!/usr/bin/python
import urllib
import datetime
import pandas as pd
now = datetime.datetime.now()
run_id = now.strftime("%m%d_%H%M")

# 1. get data from database
# DATA_FILE = "../data_" + run_id # FIXME - now the url returns 403
# avoid download if file already downloaded in last 10mins


def save_data_json(url="https://keralarescue.in/data/", fetch=False):
    json_file = "../data.json"
    if fetch:
        json_file = "../data_" + run_id + ".json"
        urlFile = urllib.URLopener()
        urlFile.retrieve(url, json_file)
    return json_file


def convert_json_to_csv(input_json):
    csv_file = "../data_" + run_id + ".csv"
    with open(input_json) as fh:
        data_frame = pd.read_json(fh)
        print(data_frame.shape)        
        print("===================")
        data_frame.rename(columns={
            'dateadded': 'last_modified',
            'detailcloth': 'detailcloth_t',
            'detailfood': 'detailfood_t',
            'detailkit_util': 'detailkit_util_t',
            'detailmed': 'detailmed_t',
            'detailrescue': 'detailrescue_t',
            'detailtoilet': 'detailtoilet_t',
            'detailwater': 'detailwater_t',
            'district': 'district_s',
            'id': 'id',
            'is_request_for_others': 'is_request_for_others_b',
            'latlng': 'location',
            'latlng_accuracy': 'latlng_accuracy_t',
            'location': 'place_s',
            'needcloth': 'needcloth_b',
            'needfood': 'needfood_b',
            'needkit_util': 'needkit_util_b',
            'needmed': 'needmed_b',
            'needothers': 'needothers_t',
            'needrescue': 'needrescue_b',
            'needtoilet': 'needtoilet_b',
            'needwater': 'needwater_b',
            'requestee': 'requestee_t',
            'requestee_phone': 'requestee_phone_t',
            'status': 'status_s',
            'supply_details': 'supply_details_t'
        }, inplace=True)
        data_frame.to_csv(csv_file, encoding="utf-8", index=False)
    return csv_file

In [30]:
f1=open("../data.json")
df = pd.read_json(f1)

In [33]:
df['district'].unique()

array(['ekm', 'idk', 'ptm', 'tcr', 'alp', 'tvm', 'kol', 'ksr', 'wnd',
       'koz', 'ktm', 'mpm', 'pkd', 'knr'], dtype=object)

In [2]:
json_file = save_data_json()
csv_file = convert_json_to_csv(json_file)

(4421, 26)
===================

In [29]:
fh=open("../data.json")
data_frame = pd.read_json(fh)
data_frame

,dateadded,detailcloth,detailfood,detailkit_util,detailmed,detailrescue,detailtoilet,detailwater,district,id,...,needkit_util,needmed,needothers,needrescue,needtoilet,needwater,requestee,requestee_phone,status,supply_details
0,2018-08-16T09:17:58.895Z,,,,,,,,ekm,6765,...,False,False,Rescue from water filled house,False,False,False,Sreeram,094470581,new,
1,2018-08-16T09:21:22.609Z,,,,,,,,idk,6794,...,False,False,,False,False,False,Test,Test,new,
2,2018-08-16T09:19:14.170Z,,,,,,,,idk,6775,...,False,False,,False,False,False,Vellachamy,9947009803,new,
3,2018-08-16T09:19:24.604Z,,,,,,,,ekm,6777,...,False,False,Boat,False,False,False,Sebin,9544117226,new,
4,2018-08-16T09:23:44.005Z,,,,,,,,ptm,6803,...,False,False,Rescue required,False,False,False,Abraham George,9744064073,new,
5,2018-08-16T09:23:45.127Z,,,,,,,,ptm,6804,...,False,False,3 ladies and a child stuck at house. please re...,False,False,False,Mathew,7426931140,new,
6,2018-08-16T09:24:14.372Z,,,,,,,,ekm,6805,...,False,False,One group with small kids pregnant ladies trap,False,False,False,Group,Not,new,
7,2018-08-16T09:24:51.622Z,,,,,,,,tcr,6809,...,False,False,rescue,False,False,False,deepak,7025950668,new,
8,2018-08-16T09:26:26.607Z,,,,,,,,alp,6815,...,False,False,,False,False,False,Vijith,9961561315,new,
9,2018-08-16T09:29:32.697Z,,,,,,,,ekm,6836,...,False,False,Evacuate to a safe zone,False,False,False,Iyvin Thomas Kurian,8281439329,new,
10,2018-08-16T09:29:44.883Z,if available,need food for 8 people,,,,,need water for 8 people,ekm,6839,...,False,False,,False,False,False,V A VELAYUDHAN,7593882305,new,
11,2018-08-16T09:30:42.387Z,,,,,,,,tcr,6843,...,False,False,"To findout my parents, they were staying at IT...",False,False,False,Dhanesh,9847042827,new,
12,2018-08-16T09:32:02.184Z,Not clear,More than 100 peoples,,,,,More than 100 bottles,alp,6850,...,True,False,,False,True,True,CHRISTINVARGHESE,8943436276,new,
13,2018-08-16T09:32:42.045Z,,,,,,,,ekm,6856,...,False,False,Required Evacuation : other conact 9446486258,False,False,False,Shabeer,9947102449,new,
14,2018-08-16T09:32:58.516Z,,,,,,,,ptm,6857,...,False,False,"20 ppl stuck on first floor with water rising,...",False,False,False,Saramma Abraham,9605320770,new,
15,2018-08-16T09:33:40.814Z,,Rice and any curry,,,,,,alp,6859,...,False,False,Rescue team to save my grandparents from their...,False,False,False,Thankamma amachi,8593813637,new,
16,2018-08-16T09:34:12.281Z,,,,,,,full,ekm,6862,...,False,True,,False,False,True,Babu,9747602141,new,
17,2018-08-16T09:35:20.001Z,,,,,,,,ekm,6865,...,False,False,Affected area ip 10.1295704 and 76.3528524. 4...,False,False,False,Vijayan,9446719215,new,
18,2018-08-16T09:35:34.794Z,,,,,,,,ekm,6867,...,False,False,Affected area ip 10.1295704 and 76.3528524. 4...,False,False,False,Vijayan,9446719215,new,
19,2018-08-16T09:36:22.288Z,,,,,,,,ptm,6872,...,False,False,26 people including 23 mentally disabled are t...,False,False,False,NA,9656955061,new,
20,2018-08-16T09:39:04.512Z,,,,,,,,ekm,6886,...,False,False,,False,False,False,Vijith,9567822725,new,
21,2018-08-16T09:39:14.763Z,,,,,,,,ekm,6887,...,False,False,Urgent rescue operation needed.. a family incl...,False,False,False,Catherine sunney,9567822725,new,
22,2018-08-16T09:39:55.253Z,,50 people,,,,,50 people,ekm,6894,...,False,False,,False,False,True,Saju Joseph,9188483287,new,
23,2018-08-16T09:38:16.761Z,needs rescue from top of terrace of thier hous...,needs rescue from top of terrace of thier hous...,,,,,needs rescue from top of terrace of thier hous...,ptm,6883,...,False,False,needs rescue from top of terrace of thier hous...,False,False,False,Unknown,9048238819,new,
24,2018-08-16T09:41:23.678Z,,,,,,,,ptm,6904,...,False,False,they are stranded on first floor. Please rescu...,False,False,False,Jayadeep Panicker,9446286857,new,
25,2018-08-16T09:42:12.156Z,,,,,,,,ptm,6908,...,False,False,need evacuation.,False,False,False,mohamed nizar +971525208347,9746465562,new,
26,2018-08-16T09:42:14.589Z,,50 people,,,,,50 people,ekm,6909,...,False,False,,False,False,True,Saju Joseph,9188483287,new,
27,2018-08-16T09:43:25.898Z,,,,,,,,ekm,6915,...,False,False,,False,False,True,700 people,9895462803,new,
28,2018-08-16T09:45:10.550Z,,,,,,,,ekm,6922,...,False,False,rescue please got trapped here phone charge is...,False,False,False,niya simon,9495752218,new,
29,2018-08-16T09:46:21.314Z,,,,,,,,ekm,6933,...,False,False,,False,False,False,Mahesh,9447952565,new,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4391,2018-08-17T05:37:57.149Z,,,,,West Kadungallur kunnil dharmasastha temple,,,ekm,18596,...,False,False,,True,False,False,Unni,9745000775,new,
4392,2018-08-17T05:38:32.635Z,,,,,Ente mother and family veetil akapettirikkuvan...,,,ptm,18603,...,False,False,,True,False,False,Suji binu,8075714941,new,
4393,2018-08-17T05:38:32.639Z,,,,,ചെങ്ങന്നൂർ പാണ്ടനാട് വഴിമാന്നാർ റൂട്ടിൽR K V സ...,,,ptm,18604,...,False,False,,True,False,False,Latheesh madhusoodanan,9446774296,new,
4394,2018-08-17T05:40:08.766Z,,Enthayalu mathi,,Oru sugar patient undu,Veedinte mukalil 50 per camp cheyyunnu 20 kudu...,,50 perkku,ekm,18631,...,False,True,,True,False,True,Harish,8086469596,new,
4395,2018-08-17T05:40:32.698Z,,For 3 people,,,Bhaskaran k k koorapilly h East desam kadavu...,,For 3 people,ekm,18639,...,False,False,,True,False,True,K k bhaskar,9961055045,new,
4396,2018-08-17T05:40:41.717Z,,,,,,,,ekm,18642,...,False,True,പ്രെഗ്നന്റ് woman,True,False,True,നോട known,9495735605,new,
4397,2018-08-17T05:40:44.224Z,,,,,"10°24'47.5""N 76°14'02.4""E 10.413186, 76.233991...",,,tcr,18643,...,False,False,,True,False,False,lajeesh,9886095138,new,
4398,2018-08-17T05:41:34.945Z,,,,,"Nandanam House,",,,ptm,18653,...,False,False,,True,False,False,Thomashekaran Nair,9656414752,new,
4399,2018-08-17T05:41:40.605Z,,,,,6 adults : 2 adults have mobility issues. 4 ki...,,,ekm,18654,...,False,False,,True,False,False,KPM Haneef,9446737176,new,
4400,2018-08-17T05:42:49.555Z,,,,,"Nandanam House,Near Pournami Temple or Ayyappa...",,,ptm,18662,...,False,False,,True,False,True,Thomashekaran Nair,9656414752,new,
4401,2018-08-17T05:38:44.646Z,,,,,,,,tcr,18608,...,False,False,,False,False,False,Muhmaed abhshad,9207476796,new,
4402,2018-08-17T05:38:52.076Z,,,,,"Family stranded, name: Gopalakrishnan, punthot...",,,alp,18610,...,False,False,,True,False,False,Shyju CP,9037639508,new,
4403,2018-08-17T05:38:54.880Z,,,,,,,,ekm,18611,...,False,False,There is a need of an ambulance,False,False,False,Jyothish Gopan,8547064601,new,
4404,2018-08-17T05:38:59.954Z,,,,,,,,tcr,18612,...,False,False,,True,False,False,Simon,9946043000,new,
4405,2018-08-17T05:39:02.880Z,,,,,#EVACUATION in laws are stranded at Kadungallo...,,,ekm,18616,...,False,False,EVACUATION - havent spoken to them since 9 pm ...,True,False,False,VIKAR,6594508097,new,
4406,2018-08-17T05:39:10.765Z,,,,,8 people are in one house and near by houses,,,ekm,18617,...,False,False,,True,False,False,Ayisha Farhana,9515352063,new,
4407,2018-08-17T05:39:20.007Z,,,,,"10°24'47.5""N 76°14'02.4""E 10.413186, 76.233991...",,,tcr,18618,...,False,False,,True,False,False,lajeesh,9886095138,new,
4408,2018-08-17T05:40:05.926Z,,,,,My sister's family with 2 children and 2 adul...,,,tcr,18629,...,False,False,Needs transportation to safer location.,True,False,False,Dr Leena,9447205669,new,
4409,2018-08-17T05:40:14.769Z,,,,,,,,tcr,18635,...,False,False,I don't have any contact with them from yester...,False,False,False,Sanil jose varghese,9746136343,new,
4410,2018-08-17T05:40:30.624Z,,,,,,,,alp,18638,...,False,False,,True,False,True,Ranjitha D'Souza,8108492727,new,
4411,2018-08-17T05:40:35.653Z,,"I dont know how much food is required,safety i...",,,"Around 700 families are trapped there,water le...",,,ekm,18640,...,False,False,,True,False,False,Vibin varghese,9946191974,new,
4412,2018-08-17T05:40:46.856Z,,,,,"Anvita Residency, east desom. There are near t...",,,ekm,18644,...,False,False,,True,False,True,PRADEEP S,7293108508,new,
4413,2018-08-17T05:41:54.933Z,,,,,,,,ptm,18655,...,False,False,,True,False,False,Sinu,9400567690,new,
4414,2018-08-17T05:42:08.320Z,,,,Stroke,,,,alp,18658,...,False,True,,False,False,True,Milna Thomas,9400455926,new,
4415,2018-08-17T05:42:40.738Z,,,,,EVACUATION. Family of 10 adults and 3 kids inc...,,,ekm,18661,...,False,False,,True,False,False,Becky Elizabeth,8800133613,new,
4416,2018-08-17T05:43:05.316Z,,,,,,,,ekm,18667,...,False,False,,True,False,False,Mavelil Ranjith,8893734133,new,
4417,2018-08-17T05:43:08.881Z,,,,,Kurre kudumbangal veedinullil pettittundu,,,ptm,18668,...,False,False,തിരുവല്ല നിരണം ഭാഗത്തു ഒത്തിരി പേർ വീടുകളിൽ കു...,True,False,False,_,000000,new,
4418,2018-08-17T05:42:55.096Z,,,,,"1000 PEOPLES ARE STRANDED, NEED EVACUATION PLE...",,,tcr,18666,...,False,False,,True,False,False,RANJITH,9946983745,new,
4419,2018-08-17T05:43:10.168Z,6 members,6 members,6 members,6 members,Family with 4 months old baby trapped in the h...,6 members,6 members,tcr,18669,...,True,True,6 members,True,True,True,Anoop,9791369918,new,
4420,2018-08-17T05:43:10.279Z,,,,,The house is away from road. Please look at th...,,,ekm,18670,...,False,False,"Address of location : puthenkavu road, ward no...",True,False,True,Gracy,9497682675,new,

In [27]:
data_frame

''

In [18]:
json_file = save_data_json()

In [19]:
csv_file = convert_json_to_csv(json_file)

(4421, 26)
===================

In [20]:
!wc -l $csv_file

4422 ../data_0817_1229.csv

In [21]:
!head $csv_file

last_modified,detailcloth_t,detailfood_t,detailkit_util_t,detailmed_t,detailrescue_t,detailtoilet_t,detailwater_t,district_s,id,is_request_for_others_b,location,latlng_accuracy_t,place_t,needcloth_b,needfood_b,needkit_util_b,needmed_b,needothers_b,needrescue_b,needtoilet_b,needwater_b,requestee_t,requestee_phone_t,status_s,supply_details_t
2018-08-16T09:17:58.895Z,,,,,,,,ekm,6765,False,"10.0021295,76.3230197",64.0989990234375 Meters,East kadangallur,False,False,False,False,Rescue from water filled house,False,False,False,Sreeram,094470581,new,
2018-08-16T09:21:22.609Z,,,,,,,,idk,6794,False,"10.7208157,76.6447006",2700 Meters,Test,False,True,False,False,,False,False,False,Test,Test,new,
2018-08-16T09:19:14.170Z,,,,,,,,idk,6775,False,"9.7370423,77.155886",2700 Meters,Muvattupuzha,False,True,False,False,,False,False,False,Vellachamy,9947009803,new,
2018-08-16T09:19:24.604Z,,,,,,,,ekm,6777,False,"10.3470498,76.2086201",200 Meters,Thuravankara,False,False,False,False,Boat,False,False,False,Sebin,9544117226,new,
2018-08-16T09:23:44.005Z,,,,,,,,ptm,6803,False,"8.5565307,76.8810618",26.361000061035156 Meters,Punnackadu,False,False,False,False,Rescue required,False,False,False,Abraham George,9744064073,new,
2018-08-16T09:23:45.127Z,,,,,,,,ptm,6804,False,"9.338959, 76.537084",accurate,"Thoppil House,Kadapra Village, Valanjavattom P.O., Pathanamthitta.",False,False,False,False,3 ladies and a child stuck at house. please rescue them.,False,False,False,Mathew,7426931140,new,
2018-08-16T09:24:14.372Z,,,,,,,,ekm,6805,False,"24.3170822,54.6155058",44.65999984741211 Meters,Kaladi sarvakasala,False,False,False,False,One group with small kids pregnant ladies trap,False,False,False,Group,Not,new,
2018-08-16T09:24:51.622Z,,,,,,,,tcr,6809,False,"10.3355596,76.3233851",2400 Meters,chalakudy,False,False,False,False,rescue,False,False,False,deepak,7025950668,new,
2018-08-16T09:26:26.607Z,,,,,,,,alp,6815,False,"11.9866992,75.4141739",2105 Meters,"Mallappuzhasseri, boat race starting point",False,False,False,False,,False,False,False,Vijith,9961561315,new,

In [38]:
#!/usr/bin/python
import urllib
import datetime
import pandas as pd
now = datetime.datetime.now()
run_id = now.strftime("%m%d_%H%M")

# 1. get data from database
# DATA_FILE = "../data_" + run_id # FIXME - now the url returns 403
# avoid download if file already downloaded in last 10mins


def save_data_json(url="https://keralarescue.in/data/", fetch=False):
    json_file = "../data.json"
    if fetch:
        json_file = "../data_" + run_id + ".json"
        urlFile = urllib.URLopener()
        urlFile.retrieve(url, json_file)
    return json_file


def convert_json_to_csv(input_json):
    csv_file = "../data_" + run_id + ".csv"
    with open(input_json) as fh:
        data_frame = pd.read_json(fh)
        data_frame['district_full'] = pd.Series([getDistName(code) for code in data_frame['district']])
        print("===============")
        print(data_frame.shape)
        data_frame.rename(columns={
            'dateadded': 'last_modified',
            'detailcloth': 'detailcloth_t',
            'detailfood': 'detailfood_t',
            'detailkit_util': 'detailkit_util_t',
            'detailmed': 'detailmed_t',
            'detailrescue': 'detailrescue_t',
            'detailtoilet': 'detailtoilet_t',
            'detailwater': 'detailwater_t',
            'district': 'district_s',
            'district_full': 'district_full_s',
            'id': 'id',
            'is_request_for_others': 'is_request_for_others_b',
            'latlng': 'location',
            'latlng_accuracy': 'latlng_accuracy_t',
            'location': 'place_t',
            'needcloth': 'needcloth_b',
            'needfood': 'needfood_b',
            'needkit_util': 'needkit_util_b',
            'needmed': 'needmed_b',
            'needothers': 'needothers',
            'needrescue': 'needrescue_b',
            'needtoilet': 'needtoilet_b',
            'needwater': 'needwater_b',
            'requestee': 'requestee_t',
            'requestee_phone': 'requestee_phone_t',
            'status': 'status_s',
            'supply_details': 'supply_details_t'
        }, inplace=True)
        data_frame.to_csv(csv_file, encoding="utf-8", index=False)
    return csv_file


def getDistName(code):
    code_to_name = {
         'tvm': 'Thiruvananthapuram',
         'ptm': 'Pathanamthitta',
         'alp': 'Alappuzha',
         'ktm': 'Kottayam',
         'idk': 'Idukki',
         'mpm': 'Malappuram',
         'koz': 'Kozhikode',
         'wnd': 'Wayanad',
         'knr': 'Kannur',
         'ksr': 'Kasaragod',
         'pkd': 'Palakkad',
         'tcr': 'Thrissur',
         'ekm': 'Ernakulam',
         'kol': 'Kollam'
    }
    return code_to_name[code]



json_file = save_data_json()

csv_file = convert_json_to_csv(json_file)

===============
(4421, 27)

In [39]:
!head $csv_file

last_modified,detailcloth_t,detailfood_t,detailkit_util_t,detailmed_t,detailrescue_t,detailtoilet_t,detailwater_t,district_s,id,is_request_for_others_b,location,latlng_accuracy_t,place_t,needcloth_b,needfood_b,needkit_util_b,needmed_b,needothers,needrescue_b,needtoilet_b,needwater_b,requestee_t,requestee_phone_t,status_s,supply_details_t,district_full_s
2018-08-16T09:17:58.895Z,,,,,,,,ekm,6765,False,"10.0021295,76.3230197",64.0989990234375 Meters,East kadangallur,False,False,False,False,Rescue from water filled house,False,False,False,Sreeram,094470581,new,,Ernakulam
2018-08-16T09:21:22.609Z,,,,,,,,idk,6794,False,"10.7208157,76.6447006",2700 Meters,Test,False,True,False,False,,False,False,False,Test,Test,new,,Idukki
2018-08-16T09:19:14.170Z,,,,,,,,idk,6775,False,"9.7370423,77.155886",2700 Meters,Muvattupuzha,False,True,False,False,,False,False,False,Vellachamy,9947009803,new,,Idukki
2018-08-16T09:19:24.604Z,,,,,,,,ekm,6777,False,"10.3470498,76.2086201",200 Meters,Thuravankara,False,False,False,False,Boat,False,False,False,Sebin,9544117226,new,,Ernakulam
2018-08-16T09:23:44.005Z,,,,,,,,ptm,6803,False,"8.5565307,76.8810618",26.361000061035156 Meters,Punnackadu,False,False,False,False,Rescue required,False,False,False,Abraham George,9744064073,new,,Pathanamthitta
2018-08-16T09:23:45.127Z,,,,,,,,ptm,6804,False,"9.338959, 76.537084",accurate,"Thoppil House,Kadapra Village, Valanjavattom P.O., Pathanamthitta.",False,False,False,False,3 ladies and a child stuck at house. please rescue them.,False,False,False,Mathew,7426931140,new,,Pathanamthitta
2018-08-16T09:24:14.372Z,,,,,,,,ekm,6805,False,"24.3170822,54.6155058",44.65999984741211 Meters,Kaladi sarvakasala,False,False,False,False,One group with small kids pregnant ladies trap,False,False,False,Group,Not,new,,Ernakulam
2018-08-16T09:24:51.622Z,,,,,,,,tcr,6809,False,"10.3355596,76.3233851",2400 Meters,chalakudy,False,False,False,False,rescue,False,False,False,deepak,7025950668,new,,Thrissur
2018-08-16T09:26:26.607Z,,,,,,,,alp,6815,False,"11.9866992,75.4141739",2105 Meters,"Mallappuzhasseri, boat race starting point",False,False,False,False,,False,False,False,Vijith,9961561315,new,,Alappuzha